/*FONTFACE*/
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/css/_fonts/League_Gothic-webfont.eot');
    src: url('/css/_fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/_fonts/League_Gothic-webfont.woff') format('woff'),
         url('/css/_fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('/css/_fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldRegular';
    src: url('/css/_fonts/Ubuntu-B-webfont.eot');
    src: url('/css/_fonts/Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/_fonts/Ubuntu-B-webfont.woff') format('woff'),
         url('/css/_fonts/Ubuntu-B-webfont.ttf') format('truetype'),
         url('/css/_fonts/Ubuntu-B-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('/css/_fonts/Ubuntu-R-webfont.eot');
    src: url('/css/_fonts/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/_fonts/Ubuntu-R-webfont.woff') format('woff'),
         url('/css/_fonts/Ubuntu-R-webfont.ttf') format('truetype'),
         url('/css/_fonts/Ubuntu-R-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('/css/_fonts/Ubuntu-C-webfont.eot');
    src: url('/css/_fonts/Ubuntu-C-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/_fonts/Ubuntu-C-webfont.woff') format('woff'),
         url('/css/_fonts/Ubuntu-C-webfont.ttf') format('truetype'),
         url('/css/_fonts/Ubuntu-C-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*GENERAL*/

a {
    text-decoration: none;
    color:#555;
}

a:hover {
	text-decoration:underline;
}

body {
    padding: 0;
    margin: 0;
    font-family:'UbuntuRegular', 'Helvetica', 'Arial', 'Sans-Serif';
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
}

section h1, article h1, h2{
	font-family:Georgia;
	font-style: italic;
	margin:0 0 16px;
}

section h1, article h1 {
	font-size:24px;
}

h2 {
	font-size:22px;
	margin:0 0 12px;
	color: #252525;
}

h3, h4, h5, h6 {
	font-size:18px;
	margin:0 0 8px;
    font-family:'UbuntuCondensedRegular', 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    color:#555;
    margin:0 0 26px;
    font-size:14px;
    line-height:26px;
    padding:0;
}

.Wrapper {
    display:block;
    width:100%;
    text-align:center;
    min-width:440px;
}

.Wrapper > .Body {
    text-align:left;
    max-width:880px;
    margin:0 auto;
}

.clear {
	clear:both;
}

/*!NAV BAR*/

nav {
    margin: 0;
    background-color: #0092BF;
    color: white;
    text-align:center !important;
    
    position:relative;
    top:0;
    left:0;
    z-index:12;
    
    text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
    
    -moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
    -o-box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
    box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
}

nav ul {
     list-style:none;
     margin:0;
     padding:0;
}

nav ul li {
    display: inline;
    margin:0;
    padding:0;
    font-family:'UbuntuBoldRegular', Helvetica, Arial, Sans-Serif;
}

nav ul li a {
	display:inline-block;
	color:#fff;
	padding:16px 28px;
	font-size:24px;
}

nav ul li a:hover, nav ul li a.Selected {
	background-color:#e44d26;
	text-decoration: none;
	box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.6);
}


/* !HEADER*/
.HeaderWrapper {
	background-color: #EBEBEB;
    background-image: url("/img/header_bg.jpg");
    border-bottom:1px solid #aeaeae;
    
	position:relative;
	z-index:10;
    
    -moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
    -o-box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
    box-shadow:0 1px 8px rgba(0, 0, 0, 0.36);
}

header {
    height:250px;
    color: #252525;
    position:relative;
    padding:20px 0;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.63);
}

header:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

header h1 {
	float:left;
    font-family: 'LeagueGothicRegular';
    font-size: 120px;
    line-height: 62px;
    margin: 0;
    padding-top:80px;
    position:relative;
    z-index:10;
    letter-spacing:1px;
    text-align:center;
    width:189px;
    overflow:visible !important;
}

header span {
    font-size: 72px;
}

header img {
	position:absolute;
	left:140px;
	top:20px;
	z-index:8;
}

header blockquote {
	position:relative;
	margin:0;
	float:left;
	margin-left:270px;
	width:418px;
	font-family:Georgia, Serif;
	font-style:italic;
	font-size:18px;
	line-height:28px;
	color:#555 !important;
	margin-top:40px;
}

header blockquote img.RightQuote {
	position:relative;
	top:2px;
	left:7px;
}

header blockquote img.LeftQuote {
	position:absolute;
	top:-2px;
	left:-33px;
}



/* Body */
.BodyWrapper {
	background-image:url("/img/content_bg.jpg");
	background-color:#fcfcfc;
	min-height:400px;
}

.BodyWrapper > .Body {
	position:relative;
}

/* LOGIN */
#login {
	position: absolute;
	top: 30px;
	right: 0;
}




/* LIGHTBOX */

#MainContent{
	padding:80px 0;
}

#lightbox {
	width: 880px;
	height: 360px;
	background-color: #EBEBEB;
	border: 1px solid #AEAEAE;
	overflow:hidden;
	position:relative;
}

#lightbox > div.Slider {
	position:relative;
}

#lightbox > div.Slider > div {
	float:left;
	width:100%;
	height:100%;
}

/* COLUMNS */

.ColumnWrapper {
	margin-top: 60px;
	
}

.ColumnWrapper p {
	
}


.ColumnWrapper:after {
    content:".";
    display:block;
    visibility: hidden;
    height:0;
    clear:both;
}

.col-1 {
	width: 380px;
	float:left;
	padding-right: 48px;
	border-right: 1px solid #E5E5E5;
}

.col-2 {
	width: 380px;
	float:left;
	padding-left: 48px;
	border-left: 1px solid #FFF;
	
	}



/* FOOTER*/
.FooterWrapper {
    border-top: 2px solid #CCC;
    background-color:#E44D26;
    height: 300px;
    
}

footer:after {
    content:".";
    display:block;
    visibility: hidden;
    height:0;
    clear:both;
}

footer {
    margin: 0;
    padding:30px 0;
    color: white;
    width: 900px;
    text-shadow:0 1px 2px rgba(0, 0, 0, 0.48);
    
}

footer ul {
	padding-left: 20px;
	margin: 16px 0px;
	}

footer section ul li{
    list-style-type: none;
    line-height: 30px;
   
}

footer ul li a {
    padding: 6px;
    color:#fff;
}

footer ul li a:hover {
    padding: 6px;
    background-color: #0092C2;
    text-decoration: none;
    color:white;
}

footer section {
    display: inline;
    float:left;

}

footer > section{
	margin-left:40px;
}

footer > section:first-child{
	margin-left:0;
	}

.sponsors {
	width: 220px;
	height: 110px;
	background-color: #DDDDDD;
	float:right;
	
}
